:root {
    --font-family-primary: "Shadows Into Light Two", cursive;
    --font-family-secondary: "Roboto Flex", sans-serif;

    --color-darkmuted: rgb(69, 126, 111);
    --color-midmuted: rgb(120, 165, 163);
    --color-tan: rgb(186, 158, 123);
    --color-black: rgb(23, 22, 22);
    --color-light: rgb(243, 239, 230);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-secondary);
    background-color: var(--color-light);
    color: var(--color-black);
    margin: 1rem;
}

header {
    background-color: var(--color-darkmuted);
    font-family: var(--font-family-secondary);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 20px;
    border: 2px solid var(--color-midmuted);
    border-radius: 2px;
}

header img {
    width: 180px;
    height: auto;
}

section {
    border: 2px solid var(--color-midmuted);
    padding: 2rem;
    border-radius: 2px;
}

h2 {
    font-family: var(--font-family-primary);
    background-color: var(--color-tan);
    padding: 1rem;
    border-radius: 3px;
}

section img {
    padding: 1rem;
}

footer {
    background-color: var(--color-tan);
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}









/* .shadows-into-light-two-regular {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}


.roboto-flex-<uniquifier> {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
} */