@media screen and (min-width: 740px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    
    /* show nav horizontally */
    #main-nav ul {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
    }

    /* hide hamburger icon */
    #menu-toggle {
        display: none;
    }

    .temple-gallery {
        grid-template-columns: repeat(3, 1fr); 
    }
}


